</main>
<footer>
  <div class="container">
    <div class="row">
      {% if informations or blog %}
        <div class="col-sm-3">
          <h5>{{ text_information }}</h5>
          <ul class="list-unstyled">
            {% if blog %}
              <li><a href="{{ blog }}">{{ text_blog }}</a></li>
            {% endif %}
            {% for information in informations %}
              <li><a href="{{ information.href }}">{{ information.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          {% if gdpr %}
            <li><a href="{{ gdpr }}">{{ text_gdpr }}</a></li>
          {% endif %}
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          {% if affiliate %}
            <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          {% endif %}
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
    <!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
  </div>
</footer>
</div>
{{ cookie }}
<script src="{{ bootstrap }}" type="text/javascript"></script>
{% for script in scripts %}
  <script src="{{ script.href }}" type="text/javascript"></script>
{% endfor %}
<script>
$(document).ready(function() {
    function updateHeaderHeart() {
        var totalText = $('#wishlist-total').text(); 
        var match = totalText.match(/(\d+)/); 
        var count = 0;
        if (match) {
            count = parseInt(match[0]);
        }
        var headerIcon = $('#wishlist-total-btn i'); 
        
        if (count > 0) {
            headerIcon.css('color', 'red');
            headerIcon.removeClass('fa-regular').addClass('fa-solid'); 
        } else {
            headerIcon.css('color', ''); 
            headerIcon.removeClass('fa-solid').addClass('fa-regular');
        }
    }
    updateHeaderHeart();
    var wishlistDropdown = document.getElementById('wishlist-total-btn');
    if (wishlistDropdown) {
        wishlistDropdown.addEventListener('show.bs.dropdown', function () {
            $('#wishlist-dropdown-content').html('<li><div class="text-center p-3"><i class="fas fa-spinner fa-spin"></i> Đang tải...</div></li>');
            $.ajax({
                url: 'index.php?route=account/wishlist|dropdown&language={{ language }}',
                dataType: 'html',
                success: function(html) {
                    $('#wishlist-dropdown-content').html(html);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    $('#wishlist-dropdown-content').html('<li><div class="text-center p-2 text-danger">Lỗi tải dữ liệu</div></li>');
                }
            });
        });
    }

    window.wishlist = {
        'add': function(product_id) {
            $.ajax({
                url: 'index.php?route=account/wishlist|add&language={{ language }}',
                type: 'post',
                data: 'product_id=' + product_id,
                dataType: 'json',
                success: function(json) {
                    $('.alert-dismissible').remove();

                    if (json['redirect']) {
                        location = json['redirect'];
                    }

                    if (json['success']) {
                        // $('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                    }

                    if (json['total']) {
                        $('#wishlist-total').html(json['total']);
                        updateHeaderHeart();
                    }

                    var btn = $('button[onclick*="' + product_id + '"]');
                    var btnID = $('#wishlist-btn-' + product_id); 

                    var allBtns = btn.add(btnID);

                    if (json['action'] == 'add') {
                        allBtns.addClass('wishlist-active');
                        allBtns.find('i').css('color', 'red').removeClass('fa-regular').addClass('fa-solid');
                    } else if (json['action'] == 'remove') {
                        
                        allBtns.removeClass('wishlist-active');
                        allBtns.find('i').css('color', '').removeClass('fa-solid').addClass('fa-regular');
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        },
        'remove': function() { }
    }

  
    $.ajax({
        url: 'index.php?route=account/wishlist|getkeys&language={{ language }}',
        type: 'get',
        dataType: 'json',
        success: function(json_ids) {
            if (json_ids && json_ids.length > 0) {
                json_ids.forEach(function(id) {
                    var btn = $('button[onclick*="' + id + '"]');
                    if (btn.length > 0) {
                        btn.addClass('wishlist-active');
                        btn.find('i').css('color', 'red').removeClass('fa-regular').addClass('fa-solid');
                    }
                });
            }
            updateHeaderHeart();
        }
    });
});
</script>
</body></html>
